
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}



.top{
   
    color: black;
    min-width: 400px;
}


.top h4{
    color: black;
    margin-bottom: 5px;
    font-size: 0.8rem;
}

.top h5{
    font-size: 2rem;
}


.form-group {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top:20px;
    margin-bottom: 20px;
}

.radio {
    grid-template-columns: 1fr 1fr 1fr;
}

input{
    padding: 5px 10px;
}

.btn{
    width:100%;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 10px;
    background-color: #1C8D73;
    color: white;
    transition: background-color 0.3s ease;
}

.btn:hover{
    background-color: #094d3d;
}

label{
    display: block;
    align-self: center;
}


.radio_group{
    display: flex;
    align-items: center;
    gap: 5px;
}



